@attribute [Authorize]
<EditForm Model="@fixedItemToEdit" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-row">
        <div class="form-group col">
            <label>Date :</label><br />
            <RadzenDatePicker @bind-Value="fixedItemToEdit.Date" DateFormat="dd/MM/yyyy" />
            <ValidationMessage For="@(() => fixedItemToEdit.Date)" />
        </div>
        <div class="form-group col">
            <label>Amount:</label>
            <InputNumber @bind-Value="@fixedItemToEdit.Amount" @bind-Value:format="F2" class="form-control" @ref="amountInputNumber" />
            <ValidationMessage For="@(() => fixedItemToEdit.Amount)" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-3">
            <label>Accumulate</label><br>
            <RadzenSwitch @bind-Value="@fixedItemToEdit.AccumulateForBudget" />
            <ValidationMessage For="@(() => fixedItemToEdit.AccumulateForBudget)" />
        </div>
        <div class="form-group col-3">
            <label>Cash</label><br>
            <RadzenSwitch @bind-Value="@fixedItemToEdit.Cash" />
        </div>
        <div class="form-group col-3">
            <label>Incoming</label><br>
            <RadzenSwitch @bind-Value="@Incoming" />
        </div>
        <div class="form-group col-3">
            <label>Weight:</label>
            <InputNumber @bind-Value="@fixedItemToEdit.TimelineWeight" class="form-control" />
            <ValidationMessage For="@(() => fixedItemToEdit.TimelineWeight)" />
        </div>
    </div>
    <div class="form-group">
        <label>Note:</label>
        <InputText @bind-Value="@fixedItemToEdit.Note" class="form-control" />
        <ValidationMessage For="@(() => fixedItemToEdit.Note)" />
    </div>
    <div class="form-group">
        <label>Category:</label>
        <InputSelectNumber @bind-Value="@fixedItemToEdit.CategoryID" class="form-control">
            <option value=""></option>
            @{
                if (Categories != null)
                {
                    foreach (var value in Categories)
                    {
                        <option value="@value.ID" selected="@(value.ID == fixedItemToEdit.CategoryID)">@value.Description</option>
                    }
                }
            }
        </InputSelectNumber>
        <ValidationMessage For="@(() => fixedItemToEdit.CategoryID)" />
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-success">
            <span class="oi oi-circle-check" aria-hidden="true"></span>SAVE
        </button>
        <button type="button" class="btn btn-warning" @onclick="@(() => { this.dialogService.Close(false); })">
            <span class="oi oi-reload" aria-hidden="true"></span>CANCEL
        </button>
    </div>
</EditForm>
