@page "/"
<h1>Projection</h1>
@if (materializedMoneyItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <span>From:</span>
    <RadzenDatePicker @bind-Value="FilterDateFrom" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateFrom)))" />
    <span>To:</span>
    <RadzenDatePicker @bind-Value="FilterDateTo" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateTo)))" />
    <table class="table table-sm table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Date</th>
                <th class="text-right">Amount</th>
                <th class="text-right">Projection</th>
                <th>Note</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in materializedMoneyItems)
            {
                <tr class="@(item.EndPeriod ? "end-period" : "")">
                    <th>
                        @if (item.Date <= DateTime.Now)
                        {
                            <span class="oi oi-check done-item" aria-hidden="true"></span>
                        }
                    </th>
                    <td>@item.Date.ToString("dd/MM/yyyy")</td>
                    <td class="text-right">@item.Amount.ToString("N")</td>
                    <td class="@(item.Date <= DateTime.Now ? "text-right done-projection" : "text-right")">@item.Projection.ToString("N")</td>
                    <td>@item.Note</td>
                    <td>
                        @if (item.IsRecurrent)
                        {
                            <span class="oi oi-pulse edit-adjustment" aria-hidden="true" title="Recurrent" @onclick="@(()=>AdjustRecurrency(item))"></span>
                        }
                        else
                        {
                            <span class="oi oi-list-rich" aria-hidden="true" title="Fixed"></span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}