@page "/fixed-items"
@attribute [Authorize]

<h1>Fixed Items</h1>
@if (fixedMoneyItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-2 col">
            <span>From:</span><br />
            <RadzenDatePicker @bind-Value="FilterDateFrom" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateFrom)))" />
        </div>
        <div class="col-md-2 col">
            <span>To:</span><br />
            <RadzenDatePicker @bind-Value="FilterDateTo" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateTo)))" />
        </div>
        <div class="col-md-8 col">
            <label>Category:</label>
            <select class="form-control" @onchange="FilterCategoryChanged">
                <option value=""></option>
                @{
                    if (Categories != null)
                    {
                        foreach (var value in Categories)
                        {
                            <option value="@value.ID" selected="@(value.ID == FilterCategory)">@value.Icon @value.Description</option>
                        }
                    }
                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-6">
            <br />
            <button class="btn btn-success" @onclick="AddNew">
                <span class="oi oi-plus" aria-hidden="true"></span>ADD
            </button>
        </div>
        <div class="col-md-6 col-6">
            <label>To Verify</label><br>
            <RadzenSwitch @bind-Value="@ShowToVerifyOnly" Change="ToVerifyOnly_Changed" />
        </div>
    </div>
   
    <div class="table-responsive-sm">
        <table class="table table-sm table-striped table-hover mobile-resume">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th></th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in fixedMoneyItems)
                {
                    <tr @onclick="@(() => Edit(item))" class="item-action">
                        <td data-title="Completed">
                            @if (item.Date <= DateTime.Now.Date)
                            {
                                <span class="oi oi-check done-item" aria-hidden="true"></span>
                            }
                            else
                            {
                                <span class="oi oi-x undone-item" aria-hidden="true"></span>
                            }
                        </td>
                        <td data-title="Type">
                            @if (item.Category?.ID == CurrentConfiguration.CashWithdrawalCategoryID)
                            {
                                <span class="oi oi-browser" aria-hidden="true"></span>
                            }
                            else if (item.Cash)
                            {
                                <span class="oi oi-euro" aria-hidden="true"></span>
                            }
                            else
                            {
                                <span class="oi oi-credit-card" aria-hidden="true"></span>
                            }
                        </td>
                        <td data-title="Date">@item.Date.ToString("dd/MM/yyyy")</td>
                        <td data-title="Amount" class="text-end">@((item.Amount ?? 0).ToString("N2"))</td>
                        <td data-title="Category">@item?.Category?.Icon?.ToString() @item?.Category?.Description?.ToString()</td>
                        <td data-title="Note">@item?.Note</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
