@page "/history"
@attribute [Authorize]
<h1>History</h1>
@if (materializedMoneyItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row">
        <div class="col-md-2 col">
            <span>From:</span><br />
            <RadzenDatePicker @bind-Value="FilterDateFrom" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateFrom)))" />
        </div>
        <div class="col-md-10 col">
            <span>To:</span><br />
            <RadzenDatePicker @bind-Value="FilterDateTo" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateTo)))" />
        </div>
    </div>
    <div class="table-responsive-sm">
        <table id="history" class="table table-sm table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Date</th>
                    <th class="text-right">Amount</th>
                    <th></th>
                    <th class="text-right">Projection</th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in materializedMoneyItems)
                {
                    <tr class="@(item.EndPeriod ? "end-period" : "")">
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td class="text-right">@item.Amount.ToString("N2")</td>
                        <td class="text-center">
                            @{
                                var iconToUse = "";
                                var classToUse = "";
                                if (!item.EndPeriod)
                                {
                                    if (item.Amount > 0)
                                    {
                                        iconToUse = "arrow-thick-top";
                                        classToUse = "text-success";
                                    }
                                    else if (item.Amount < 0)
                                    {
                                        iconToUse = "arrow-thick-bottom";
                                        classToUse = "text-danger";
                                    }
                                    else
                                    {
                                        iconToUse = "ellipses";
                                        classToUse = "text-none";
                                    }
                                }
                                else
                                {
                                    if (item.Amount >= 0)
                                    {
                                        iconToUse = "circle-check";
                                        classToUse = "text-success";
                                    }
                                    else
                                    {
                                        iconToUse = "circle-x";
                                        classToUse = "text-danger";
                                    }
                                }
                            }
                            <span class="oi oi-@iconToUse @classToUse" aria-hidden="true" title="Fixed"></span>
                        </td>
                        <td class="text-right done-projection">
                            @item.Projection.ToString("N2")
                        </td>
                        <td class="ellipses">@item.Note</td>
                        <td>
                            @if (!item.EndPeriod)
                            {
                                if (item.IsRecurrent)
                                {
                                    <span class="oi oi-pulse" aria-hidden="true" title="Recurrent"></span>
                                }
                                else
                                {
                                    <span class="oi oi-pin" aria-hidden="true" title="Fixed"></span>
                                }
                            }
                            else
                            {
                                <span class="oi oi-delete text-danger materialize-history-delete" aria-hidden="true" title="Delete materialized history" @onclick="@(()=>DeleteMaterializedHistory(item))"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
