@page "/"
@attribute [Authorize]
<h1>Projection</h1>
@if (materializedMoneyItems == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="form-row">
     
        <div class="col-md-2 col-5">
            <span>To:</span><br />
            <RadzenDatePicker @bind-Value="FilterDateTo" DateFormat="dd/MM/yyyy" Change="@(args => Change(args, nameof(FilterDateTo)))" />
        </div>
        <div class="col-md-1 col-2">
            <label>Hide past</label><br>
            <RadzenSwitch @bind-Value="@HidePastItems" Change="HidePastItems_Changed" />
        </div>
        <div class="col-md-1 col-3">
            <label>Hide zero</label><br>
            <RadzenSwitch @bind-Value="@HideZero" Change="HideZero_Changed" />
        </div>
        <div class="col-md-8 col-2">
            <br />
            <button class="btn-sm btn-success" @onclick="AddNew">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="table-responsive-sm">
        <table id="projections" class="table table-sm table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th class="text-right">Amount</th>
                    <th></th>
                    <th class="text-right">Projection</th>
                    <th class="transaction-type-col"></th>
                    <th>Note</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in materializedMoneyItems)
                {
                    <tr class="@(item.EndPeriod ? "end-period" : "") item-action" @onclick="@(()=>  item.IsRecurrent ? AdjustRecurrency(item) : AdjustFixedItem(item))">
                        <td class="text-center">
                            @if (item.Date <= DateTime.Now.Date)
                            {
                                <span class="oi oi-check done-item" aria-hidden="true"></span>
                            }
                        </td>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td class="text-right">@item.Amount.ToString("N2")</td>
                        <td class="text-center">
                            @{
                                var iconToUse = "";
                                var classToUse = "";
                                if (!item.EndPeriod)
                                {
                                    if (item.Amount > 0)
                                    {
                                        iconToUse = "arrow-thick-top";
                                        classToUse = "text-success";
                                    }
                                    else if (item.Amount < 0)
                                    {
                                        iconToUse = "arrow-thick-bottom";
                                        classToUse = "text-danger";
                                    }
                                    else
                                    {
                                        iconToUse = "ellipses";
                                        classToUse = "text-none";
                                    }
                                }
                                else
                                {
                                    if (item.Amount >= 0)
                                    {
                                        iconToUse = "circle-check";
                                        classToUse = "text-success";
                                    }
                                    else
                                    {
                                        iconToUse = "circle-x";
                                        classToUse = "text-danger";
                                    }
                                }
                            }
                            <span class="oi oi-@iconToUse @classToUse" aria-hidden="true" title="Fixed"></span>
                        </td>
                        @{
                            var projectionStyle = "text-right " + (item.Date <= DateTime.Now.Date ? " done-projection" : "");
                        }
                        <td class="@projectionStyle">
                            @item.Projection.ToString("N2")
                        </td>
                        <td class="transaction-type-col">
                            @if (!item.EndPeriod)
                            {
                                @if (item.Category?.ID == CurrentConfiguration.CashWithdrawalCategoryID)
                                {
                                    <span class="oi oi-browser" aria-hidden="true"></span>
                                }
                                else if (item.Cash)
                                {
                                    <span class="oi oi-euro" aria-hidden="true"></span>
                                }
                                else
                                {
                                    <span class="oi oi-credit-card" aria-hidden="true"></span>
                                }
                            }
                        </td>
                        <td class="ellipses">@item.Note</td>
                        <td>
                            @if (!item.EndPeriod)
                            {
                                if (item.IsRecurrent)
                                {
                                    <span class="oi oi-pulse edit-adjustment" aria-hidden="true" title="Recurrent"></span>
                                }
                                else
                                {
                                    <span class="oi oi-pin edit-adjustment" aria-hidden="true" title="Fixed"></span>
                                }
                            }
                            else
                            {
                                if (item.ID == 0)
                                {
                                    <span class="oi oi-lock-locked text-success materialize-history" aria-hidden="true" title="Save materialized history" @onclick="()=>SaveMaterializedHistory(item.Date)"></span>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
